@font-face
  font-family: 'FontAwesome'
  src: url('./fonts/fa-solid-900.eot')
  src: url('./fonts/fa-solid-900.eot?#iefix') format('embedded-opentype'),
  url('./fonts/fa-regular-400.woff') format('woff'),
  url('./fonts/fa-regular-400.ttf') format('truetype')
  font-weight: normal
  font-style: normal

@font-face
  font-family: 'Lato-Black'
  src: url('./fonts/Lato-Black.ttf.eot')
  src: url('./fonts/Lato-Black.ttf.eot?#iefix') format('embedded-opentype'),
  url('./fonts/Lato-Black.ttf.woff') format('woff')
  font-weight: normal
  font-style: normal


body
  font-family: 'Lato-Black'
  text-align: center

.container
  width: 75%
  margin: 0 auto

.block__header_main
  text-transform: uppercase
  margin-top: 50px

.block__header__inside
  text-transform: uppercase
/* start standart buttons*/

.buttons__column1
  width: 10%
  display: inline-block

.buttons__column2
  width: 15%
  display: inline-block

.buttons__column3
  width: 15%
  display: inline-block

.buttons__column4
  width: 10%
  display: inline-block

.buttons__standart__block
  width: 80%
  margin: 0 auto
  vertical-align: bottom
  margin-top: 209px

.button__standart
  border-radius: 3px
  text-transform: uppercase
  margin: 20px
  display: inline-block

.button__standart__small
  padding: 7px 15px
  font-size: 10px

.button__standart__big
  padding: 10px 32px
  font-size: 12px

.button__standart__red
  color: #e75735
  border: 1px solid #e75735
  background-color: #ffffff
  box-shadow:0 1px 0px 1px #e75735

.button__standart__red:hover,
.button__standart__red_hover
  background-color: #e75735
  border: 1px solid #e75735
  color: #ffffff
  box-shadow:0 1px 0px 1px #bf3e1f

.button__standart__red:active,
.button__standart__red_active
  background-color: #e75735
  border: 1px solid #e75735
  color: #ffffff
  box-shadow: none

.button__standart__blue
  color: #4eb7a8
  border: 1px solid #4eb7a8
  background-color: #ffffff
  box-shadow: 0 1px 0px 1px #28a290

.button__standart__blue:hover,
.button__standart__blue_hover
  background-color:  #4eb7a8
  border: 1px solid #4eb7a8
  color: #ffffff
  box-shadow: 0 1px 0px 1px #28a290

.button__standart__blue_active
  background-color:  #4eb7a8
  border: 1px solid #4eb7a8
  color: #ffffff
  box-shadow: none

/*end standart buttons*/

/* start arrow buttons*/
.arrow__buttons__block
  margin-top: 50px
.arrow__button
  margin-right: 24px
  width: 47px
  height: 47px
  border-radius: 50%
  position: relative
  display: inline-block
  margin-top: 50px

.arrow__button_left
  position: absolute
  border-bottom: 3px solid white
  border-left: 3px solid white
  height: 15px
  width: 15px
  top: 15px
  left: 18px
  transform: rotate(45deg) skew(10deg)

.arrow__button_right
  position: absolute
  border-bottom: 3px solid white
  border-left: 3px solid white
  height: 15px
  width: 15px
  top: 15px
  left: 13px
  transform: rotate(235deg) skew(10deg)

.arrow__button_disabled
  background-color: #e5e5e5
  border: 3px solid #e5e5e5

.arrow__button_hovered
  background-color: #4eb7a8
  border: 3px solid #4eb7a8

.arrow__button_inactive
  background-color: #ffffff
  border: 3px solid #4eb7a8

.arrow__button_inactive .arrow__button_right,
.arrow__button_inactive .arrow__button_left
  border-bottom: 3px solid #4eb7a8
  border-left: 3px solid #4eb7a8

/*end arrow buttons*/

/*start circles*/
svg
  width: 105px
  height: 105px
  /*end circles*/


/*start sliders*/
.slider
  width: 35%
  display: inline-block
  margin-right: 40px

#slider__first
  .irs-from,
  .irs-to,
  .irs-single
    background-color: #ed5565 !important
#slider__first
 .irs-bar
    background-color: #e1e4e9 !important
/*end sliders*/

/*start contact form*/
.contact__form
  float: left
  width: 35%
  padding: 10px

.contact__form__data
  background-color: #e5e5e5
  color: #888888
  font-size: 14px
  padding: 10px 13px
  border: none
  border-radius: 5px
  margin-top: 12px
  float: left

.contact__form__name,
.contact__form__email
  width: 80%
.textarea
  width: 100%
.contact__form__submit
  float: right
  margin-top: 12px

.form__elements__block__two
  float: right
  width: 35%
  margin-right: 50px
  padding: 40px
/*end contact form*/
