.arrow__buttons__block
  +header('arrow buttons', 'block__header_main')
  .arrow__button.arrow__button_inactive
   .arrow__button_left
  .arrow__button.arrow__button_inactive
   .arrow__button_right
  .arrow__button.arrow__button_disabled
   .arrow__button_left
  .arrow__button.arrow__button_disabled
   .arrow__button_right
  .arrow__button.arrow__button_hovered
   .arrow__button_left  
  .arrow__button.arrow__button_hovered
   .arrow__button_right 
