.about.contact  
 +header('Contact', 'contact__icon', 153)
 .content   
  .contact__info 
   table
    tr
     td.contact__header ADDRESS
     td.contact__data Main Street, City.
    tr 
     td.contact__header E-MAIL
     td.contact__data contact@domain.com
    tr
     td.contact__header PHONE
     td.contact__data 555-555-555
    tr
     td.contact__header WEBSITE
     td.contact__data www.yourweb.com  
