+header('form elements', 'block__header_main')
form.contact__form
  label
   input(type="text" name="name" placeholder="Your Name" class="contact__form__data contact__form__name")
  label
   input(type="email" name="name" placeholder="Your Email" class="contact__form__data contact__form__email") 
  textarea(rows="4" cols="40" class="contact__form__data textarea") 
  input(type="submit"  name="submit" value="Submit" class="contact__form__submit button__standart__big button__standart__blue_hover")
 
 
