head
 title= pageTitle
 link(rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css')
 link(rel='stylesheet' href='./css/ripple.min.css')
 link(rel='stylesheet' href='./modules/rangeslider/css/ion.rangeSlider.css')
 link(rel="stylesheet" href="./modules/rangeslider/css/ion.rangeSlider.skinFlat.css")
 link(rel="stylesheet" media="all" href="./modules/progress-bar/jquery.progressbar.css")
 script(src="//code.jquery.com/jquery.min.js")
 script(src="./modules/progress-bar/jquery.progressbar.js")
 script(src="./node_modules/jquery-circle-progress/dist/circle-progress.js")
 script(src="./modules/rangeslider/js/ion-rangeSlider/ion.rangeSlider.min.js")
