+header('PERCENTAGES / PIE CHART', 'block__header_main')
+progress("0 502.4", '0')
+progress("180 320", '38')
+progress("330 170", '62')
+progress("445 65", '89')
svg(class="svg" viewbox="0 0 200 200")
 circle(r="80" cx="95" cy="110" fill="none" stroke-width="29" stroke="#e5e5e5")
 circle(r="80" cx="95" cy="110" fill="none" stroke-width="29" stroke="#747474" stroke-dasharray="130 370" stroke-dashoffset="-380")
 circle(r="80" cx="95" cy="110" fill="none" stroke-width="29" stroke="#e75735" stroke-dasharray="130 370" stroke-dashoffset="60")
 circle(r="80" cx="95" cy="110" fill="none" stroke-width="29" stroke="#4eb7a8" stroke-dasharray="130 370" stroke-dashoffset="-60")
