.about.software
 +header('Software', 'software__icon', 321)
 .content
   .software__info 
    .software__name.info__header Photoshop
    +softwareSkill(260) 
   .software__info 
    .software__name.info__header DreamWeaver
    +softwareSkill(237)      
   .software__info 
    .software__name.info__header Illustrator
    +softwareSkill(202)
   .software__info 
    .software__name.info__header After Effects
    +softwareSkill(176)    
   .software__info 
    .software__name.info__header InDesign
    +softwareSkill(161) 
   .software__info 
    .software__name.info__header HTML&CSS3
    +softwareSkill(260)  
