.buttons__standart__block
  +header('standart buttons', 'block__header_main')
  .buttons__column1
    +button('Button','button__standart__small', 'button__standart__blue_active')
    +button('Button','button__standart__small', 'button__standart__blue_hover')
    +button('Button','button__standart__small', 'button__standart__blue')
  .buttons__column2
    +button('Button','button__standart__big', 'button__standart__blue_active')
    +button('Button','button__standart__big', 'button__standart__blue_hover')
    +button('Button','button__standart__big', 'button__standart__blue') 
  .buttons__column3
    +button('Button','button__standart__big', 'button__standart__red_active')
    +button('Button','button__standart__big', 'button__standart__red_hover')
    +button('Button','button__standart__big', 'button__standart__red')  
  .buttons__column4
    +button('Button','button__standart__small', 'button__standart__red_active')
    +button('Button','button__standart__small', 'button__standart__red_hover')
    +button('Button','button__standart__small', 'button__standart__red')  
