mixin education(educationData)
  li.experience__info 
    .experience__degree.info__header= educationData.degree
    .experience__period= educationData.period
    .experience__facility.info__header= educationData.facility
    .experience__description= educationData.description
