mixin experience(experienceData)
  li.experience__info 
    .experience__facility.info__header= experienceData.facility
    .experience__period= experienceData.period
    .experience__position.info__header= experienceData.degree
    .experience__description= experienceData.description 
