mixin progress(dasharray, text)
  svg(class="svg" viewbox="0 0 200 200")
   circle(r="80" cx="95" cy="110" fill="none" stroke-width="10" stroke="#ffffff")
   circle(r="80" cx="95" cy="110" fill="none" stroke-width="10" stroke="#e75735" stroke-dasharray= dasharray stroke-dashoffset="-380")
   text(x="100" y="125" font-family="Arial" font-size="70" text-anchor="middle" fill="#444")= text
