mixin skillLevel(l1,l2,l3,l4,l5,l6,l7,l8,l9,l10,l11,l12)
  ul
   li.skill__level(style='background-color:'+l1)  
   li.skill__level(style='background-color:'+l2)  
   li.skill__level(style='background-color:'+l3)  
   li.skill__level(style='background-color:'+l4)  
   li.skill__level(style='background-color:'+l5)  
   li.skill__level(style='background-color:'+l5)  
   li.skill__level(style='background-color:'+l6)  
   li.skill__level(style='background-color:'+l7)  
   li.skill__level(style='background-color:'+l8)  
   li.skill__level(style='background-color:'+l9)  
   li.skill__level(style='background-color:'+l10)  
   li.skill__level(style='background-color:'+l11)
   li.skill__level(style='background-color:'+l12)
