include mixins/header-mixin.pug 
include mixins/button-mixin.pug 
doctype html
html(lang="en")
  include includes/head.pug
  body
   .container
    include includes/standart_buttons.pug
    include includes/arrow_buttons.pug
    include includes/percentage.pug
